button {
	width: 60px;
	height: 30px;
	margin: -40px 600px;
	position: absolute;
}
#container {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}
.row {
    width: auto;
    height: 25px;
}
.square {
    height: 25px;
    width: 25px;
    outline: 1px solid;
    display: inline-block;
}
