button {
	width: 60px;
	height: 30px;
	margin: -40px 600px;
	position: absolute;
}
.container {
    width: 640px;
    height: 640px;
    margin: 100px auto;
    position: relative;
}
.row {
    width: 640px;
}
.square {
    outline: 1px solid;
    display: inline-block;
}
